# RStudio project-specific user settings
.Rproj.user

# R command history
.Rhistory

# Saved R workspace/data
.RData

# RStudio user-specific data
.Ruserdata

# Saved figures
figures/*
!figures/.gitkeep

# Processed data
data_processed/*
!data_processed/.gitkeep

# Tabled results
model_results_tabled/*
!model_results_tabled/.gitkeep